@model BankLimitManagementApp.Mvc.ViewModels.TransactionsAccountViewModel

@{
    ViewData["Title"] = "Details";
}
<br>
<h1>Detalhes</h1>

<div>
    <h4>Registro da transação realizada</h4>
    <hr />
    <dl class="row">
        <dt class = "table-light">
            @Html.DisplayName("Nome do cliente")
        </dt>
        <dd class= "table-light">
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt class="table-light">
            @Html.DisplayName("Documento")
        </dt>
        <dd class="table-light">
            @Html.DisplayFor(model => model.Document)
        </dd>
        <dt class="table-light">
            @Html.DisplayName("Número da agência")
        </dt>
        <dd class="table-light">
            @Html.DisplayFor(model => model.AgencyNumber)
        </dd>
        <dt class="table-light">
            @Html.DisplayName("Número da conta")
        </dt>
        <dd class="table-light">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt class="table-light">
            @Html.DisplayName("Valor transacionado")
        </dt>
        <dd class="table-light">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class="table-light">
            @Html.DisplayName("Data da transação")
        </dt>
        <dd class="table-light">
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>
        <dt class="table-light">
            @Html.DisplayName("Status da transação")
        </dt>
        <dd class="table-light">
            @Html.DisplayFor(model => model.TransactionStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-dark">Voltar</a>
</div>
