@model BankLimitManagementApp.Mvc.ViewModels.FinallyViewModel

@{
    ViewData["Title"] = "Finally";
}
<br/>
<h2>Transação concluída</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <div class="alert alert-dismissible alert-secondary">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Sua transação foi concluída com sucesso! </strong> <p> Você pode conferir mais detalhes abaixo, junto com seu saldo e limite transacional disponível!</p>
        </div>
    </div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayName("Nome do cliente")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Limite de transação")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionLimit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Saldo disponível")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-dark">Voltar</a>
</div>


