@model IEnumerable<BankLimitManagementApp.Mvc.ViewModels.TransactionsAccountViewModel>

@{
    ViewData["Title"] = "Index";
}

<br />

<h1>Transações realizadas</h1>

<br/>

<a asp-action="Create" class="btn btn-outline-dark">Realizar nova transação</a>
<hr />
<table class="table">
    <thead>
        <tr>
            <th class="table-secondary">
                @Html.DisplayName("Nome do cliente")
            </th>
            <th class="table-secondary">
                @Html.DisplayName("Valor")
            </th>
            <th class="table-secondary">
                @Html.DisplayName("Data da transação")
            </th>
            <th class="table-secondary">
                @Html.DisplayName("Status da transação")
            </th>
            <th class="table-secondary"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionStatus)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Detalhar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
