@model BankLimitManagementApp.Mvc.ViewModels.BankAccountViewModel

@{
    ViewData["Title"] = "Delete";
}
<br />
<h1>Deletar conta<h1>

        <h3>Certeza que deseja deletar esta conta?</h3>
        <hr />
        <div>
            <h4>Informações da conta a ser deletada</h4>
            <dl class="row">
                <dt class="table-light">
                    @Html.DisplayName("Nome do cliente")
                </dt>
                <dd class="table-light">
                    @Html.DisplayFor(model => model.ClientName)
                </dd>
                <dt class="table-light">
                    @Html.DisplayName("Documento")
                </dt>
                <dd class="table-light">
                    @Html.DisplayFor(model => model.Document)
                </dd>
                <dt class="table-light">
                    @Html.DisplayName("Número da agência")
                </dt>
                <dd class="table-light">
                    @Html.DisplayFor(model => model.AgencyNumber)
                </dd>
                <dt class="table-light">
                    @Html.DisplayName("Número da conta")
                </dt>
                <dd class="table-light">
                    @Html.DisplayFor(model => model.AccountNumber)
                </dd>
                <dt class="table-light">
                    @Html.DisplayName("Limite de transação")
                </dt>
                <dd class="table-light">
                    @Html.DisplayFor(model => model.TransactionLimit)
                </dd>
                <dt class="table-light">
                    @Html.DisplayName("Última alteração realizada")
                </dt>
                <dd class="table-light">
                    @Html.DisplayFor(model => model.LastChange)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Deletar" class="btn btn-danger" /> 
                <a asp-action="Index"class="btn btn-secondary" >Voltar</a>
            </form>
        </div>
