@model BankLimitManagementApp.Mvc.ViewModels.BankAccountViewModel

@{
    ViewData["Title"] = "Details";
}
<br/>
<h1>Detalhes</h1>

<div>
    <h4>Informações da conta</h4>
    <hr />
    <dl class="row">
        <dt class="table-light">
            @Html.DisplayName("Nome do cliente")
        </dt>
        <dd class="table-light">
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt class="table-light">
            @Html.DisplayName("Documento")
        </dt>
        <dd class="table-light">
            @Html.DisplayFor(model => model.Document)
        </dd>
        <dt class="table-light">
            @Html.DisplayName("Número da agência")
        </dt>
        <dd class="table-light">
            @Html.DisplayFor(model => model.AgencyNumber)
        </dd>
        <dt class="table-light">
            @Html.DisplayName("Número da conta")
        </dt>
        <dd class="table-light">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt class="table-light">
            @Html.DisplayName("Limite de transação")
        </dt>
        <dd class="table-light">
            @Html.DisplayFor(model => model.TransactionLimit)
        </dd>
        <dt class="table-light">
            @Html.DisplayName("Última alteração realizada")
        </dt>
        <dd class="table-light">
            @Html.DisplayFor(model => model.LastChange)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-dark">Editar</a>
    <a asp-action="Index" class="btn btn-outline-dark">Voltar</a>
</div>
