@model IEnumerable<BankLimitManagementApp.Mvc.ViewModels.BankAccountViewModel>

@{
    ViewData["Title"] = "Index";
}
<br />
<h1>Página Inicial - Contas Bancárias</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-dark">Adicionar nova conta</a>
</p>
<form asp-controller="BankAccount" asp-action="Index" method="get" class="d-flex">
        <input type="text" name="filter" class="form-control me-sm-2" />
    <input type="submit" value="Buscar" class="btn btn-secondary" />
</form>
<hr/>
<table class="table">
    <thead>
        <tr class="table-secondary">
            <th class="table-secondary">
                @Html.DisplayName("Nome do cliente")
            </th>
            <th class="table-secondary">
                @Html.DisplayName("Documento")
            </th>
            <th class="table-secondary">
                @Html.DisplayName("Número da agência")
            </th>
            <th class="table-secondary">
                @Html.DisplayName("Número da conta")
            </th>
            <th class="table-secondary">
                @Html.DisplayName("Limite de transação")
            </th>
            <th class="table-secondary">
                @Html.DisplayName("Última alteração realizada")
            </th>
            <th class ="table-secondary"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Document)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AgencyNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionLimit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastChange)
                </td>
                <td class="text-left">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
